.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: #0f1729;
}

.img-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-card {
  position: relative;

  height: min(21em, 90vh);
  max-width: 90vw;
  aspect-ratio: 16 / 9;

  overflow: hidden;

  border-radius: 0.6em;
  background: white;

  font-size: 120%;
}

.content {
  z-index: 1;
  position: absolute;
  bottom: min(2.5em, 6vmin);
  left: min(3em, 8vmin);
  right: min(3em, 8vmin);
}

.title {
  color: white;
  font-weight: bold;
}